.app{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.popularContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 80%;
}


.popular {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;

}

.item {
  width: 200px;
  margin-bottom: 20px;
}

.poster {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.title {
  font-weight: bold;
  text-align: center;
}

.score {
  font-size: 14px;
  text-align: center;
}

